local teleportLocations = {
    CFrame.new(124, 16, 576),
    CFrame.new(1489, 16, 1760),
    CFrame.new(575, 16, 3283),
    CFrame.new(10, 116, 5647)
}

wait(10) -- wait a few seconds before executing the script

for _, location in pairs(teleportLocations) do
    game.Players.LocalPlayer.Character:MoveTo(location.p)
    wait(5)
end


game:GetService("TeleportService"):Teleport(game.PlaceId, game.Players.LocalPlayer)
